.card {
    width: 23%;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    box-shadow: 0px 2px 6px $shadow;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    text-align: left;
    &-img-top {
        width: 100%;
    }
    
    &-body {
        padding: 16px;
    }
    
    &-title {
        font-size: $font-size-sm;
        line-height: 21px;
        margin-bottom: 8px;
    }
    
    &-text {
        max-height: 124px;
        margin-bottom: calc(100% - 124px);
    }
}
