/** color **/
.text-white {
    color: $white;
}

.text-primary-color {
    color: $primary;
}

.text-second-color {
    color: $second;
}

/** background-color **/
.bgc-primary {
    background-color: $bg-primary-color;
}