.d-f {
    display: flex;
}

.fxw-w {
    flex-wrap: wrap;
}

.fd-c {
    flex-direction: column;
}

.fd-rr {
    flex-direction: row-reverse;
}

.jc-c {
    justify-content: center;
}

.jc-fs {
    justify-content: flex-start;
}

.jc-fe {
    justify-content: flex-end;
}

.jc-sa {
    justify-content: space-around;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

.ai-fe {
    align-items: flex-end;
}


@include pad {
    .fd-md-c {
        flex-direction: column;
    }

    .fd-md-r {
        flex-direction: row;
    }

    .fd-md-rr {
        flex-direction: row-reverse;
    }
    
}

@include mobile {
    .fd-sm-c {
        flex-direction: column;
    }

    .fd-sm-rr {
        flex-direction: row-reverse;
    }

    .jc-sm-c {
        justify-content: center;
    }
    
    .fs-sm-0 {
        flex-shrink: 0;
    }

    .fs-sm-1 {
        flex-shrink: 1;
    }
}
