.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.h-100 {
    height: 100%;
}

@include pad {
    .container {
        max-width: 690px;
        margin: 0 auto;
    }
}

@include mobile {
    .container {
        max-width: 345px;
        margin: 0 auto;
    }
}