.banner {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 840px;
    .container {
        p {
            font-size: 16px;
        }
    }
}

.profession {
    li {
        width: 23%;
    }
    img {
        margin: 0 auto;
        padding-bottom: 16px;
    }
    h4 {
        font-weight: bold;
        margin-bottom: 8px;
    }
    &-title {
        text-align: left;
    }
}

.product {
    .pic {
        width: 635px;
    }
    .p {
        font-size: $h2-font-size;
        line-height: 72px;
        img {
            width: 48px;
            display: inline-block;
        }
    }
}

.design {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    li {
        width: 49%;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0; 
            left: 0;
            right: 0;
            background-color: rgba(255,255,255,0.5); 
        }
        p {
            font-size: 72px;
            line-height: 108px;
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            transform: translate(-50%, -50%);
        }        

    }
}

.contact {
    max-width: 730px;
    margin: 0 auto;
    &-text {
        height: 108px;
    }
    &-submit {
        border: none;
        &:hover {
            box-shadow: 3px 3px 2px $shadow;
        }
    }
}

@include pad {
    .banner {
        .container {
            p {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    .profession {
        li {
            width: 37%;
        }
    }

    .product {
        .pic {
            width: 390px;
        }
        &-title {
            font-size: 28px;
            img {
                width: 40px;
            }
        }
    }

    .design {
        li {
            width: 48%;
            p {
                font-size: 32px;
                line-height: 25px;
            }
        }
    }

    .form {
        &-label {
            font-size: 14px;
            line-height: 21px;
        }
    }
}

@include mobile {
    .banner {
        height: 394px;
        .container {
            p {
                font-size: 16px;
            }
        }
    }

    .profession {
        li {
            width: 78%;
            margin: 0 auto;
        }
    }

    .product {
        .pic {
            width: 345px;
        }
        li {
            position: relative;
        }
        &-title {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            transform: translate(-50%, -50%);
            img {
                width: 36px;
            }
        }
    }

    .design {
        li {
            width: 100%;
        }
    }
}