/* color */
$primary: #AA0601;
$primary-dark: #9F1213;
$primary-light: #AA4440;
$second: #650300;

$shadow: #00000029;
$date-gray: #707070;
$border-gray: #DCDCDC;
$border-gray-dark: #555555;
$pagination-gray: #F2F2F2;
$pagination-gray-dark: #9c9c9c;

$bg-primary-color: #FBF2F2;
$bg-product-color-brown: #B75929;
$bg-product-color-brown-dark: #5F3E2D;

$white: #ffffff;
$black: #000000;


/* font-size */
$font-size-base: 1rem; //16px
$h1-font-size: $font-size-base * 4; //64px
$h2-font-size: $font-size-base * 3; //48px
$h3-font-size: $font-size-base * 2.25; //36px
$h4-font-size: $font-size-base * 1.5; //24px
$h5-font-size: $font-size-base * 1.25; //20px
$h6-font-size: $font-size-base; //16px
$font-size-sm: $font-size-base * 0.875; //14px

$h1-font-size-md: $font-size-base * 3; //48px
$h2-font-size-md: $font-size-base * 2; //32px
$h3-font-size-md: $font-size-base * 1.875; //30px
$h4-font-size-md: $font-size-base * 1.5; //24px
$h5-font-size-md: $font-size-base; //16px

$h1-font-size-sm: $font-size-base * 2; //32px
$h2-font-size-sm: $font-size-base * 1.5; //24px
$h3-font-size-md: $font-size-base * 1.875; //30px
$h5-font-size-md: $font-size-base; //16px

/* space */
$spacer: 0.125rem; //2px